{% extends 'base.html.twig' %}

{% block title %}
    Login | Flowboard
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/pages/authentication.css') }}" />

{% endblock %}

{% block body %}

    <div class="bootstrap-wrapper">

        <div class="container">

            <div class="row">

                <div class="col-md-12">
                    <img
                        src="{{ asset('img/logo-light.svg') }}"
                        alt="flowboard-logo-light"
                        class="authentication-logo"
                    >
                </div>


                <div class="col-md-4 offset-md-4 authentication-container">

                    <h1>Login</h1>

                    <p>You can register <a href="{{ path('register') }}">here</a></p>

                    {% for flashMessage in app.session.flashbag.get('1') %}
                        <p class="message-box">
                            {{ flashMessage | raw }}
                        </p>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('2') %}
                        <p class="error-box">
                            {{ flashMessage | raw }}
                        </p>
                    {% endfor %}

                    <form action="{{ path("login") }}" method="post">

                        {% if error is defined %} {{ error }} {% endif %} <br/>

                        <div class="field-set">

                            <div class="field-title">
                                <p>{{ form_label(form.email, null, { 'label_attr': {'class': 'form-placeholder'} }) }}</p>
                            </div>

                            <div class="field-value">
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                        </div>

                        <div class="field-set">

                            <div class="field-title">
                                <p>{{ form_label(form.password, null, { 'label_attr': {'class': 'form-placeholder'} }) }}</p>
                            </div>

                            <div class="field-value">

                                {{ form_widget(form.password, { 'attr': {'class': 'form-control' } }) }}
                            </div>

                        </div>


                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-default button" id="_submit" name="_submit">
                            Login
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

{% endblock %}